@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Staatliches, sans-serif;
  word-spacing: 2px;
  letter-spacing: 1px;
}
.canvas-wrapper {
  height: 600px;
  width: 600px;
  /* top: 200px;
  right: 0; */
}
.drone {
}
.main-container {
  overflow: hidden;
}

.primary-sub {
  color: #94a4b4;
  line-height: 1;
  font-size: 2rem;
  display: block;
  font-family: Staatliches, sans-serif;
  font-weight: bold;
  margin-left: -0.5rem;
}
.primary-sub__word {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5rem;
  height: 3rem;
  overflow: hidden;
}
.primary-sub__word * {
  transition: all 0.3s;
}
.primary-sub__word:hover * {
  transform: translateY(-3rem);
}
.primary-sub__top {
  margin-bottom: 1rem;
}
.primary-sub__top:hover {
  visibility: hidden;
  opacity: 0;
}
.primary-sub__bottom {
  color: #5b6570;
  visibility: hidden;
  opacity: 0;
}
.primary-sub__word:hover {
}
.primary-sub__word:hover .primary-sub__bottom {
  visibility: visible;
  opacity: 1;
}

.footer {
  bottom: -7.5rem;
  left: 0;
  width: 100%;
  padding: 3rem;
  background: #171a1d;
  color: #94a4b4;
  font-size: 1rem;
  text-align: center;
  font-family: Inconsolata, sans-serif;
  /* border-top: 1px solid #343a41; */
  user-select: text;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 8rem;
}
.footer__contact {
  display: inline-block;
}
.footer__contact:not(:last-child) {
  margin-right: 3rem;
}
.footer__link:link,
.footer__link:visited {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .footer__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .footer__item:last-child {
    text-align: left;
  }
  .github-icon {
    display: none;
  }
}

.new-badge {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 2;
  width: 100px;
  height: 25px;
  background: red;
  border-radius: 30px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advanced-badge {
  color: black;
  margin-top: 10px;
  margin-left: 10px;
  z-index: 2;
  width: 130px;
  height: 25px;
  background: lawngreen;
  border-radius: 30px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best-badge {
  color: black;
  margin: 10px;
  z-index: 2;
  width: 110px;
  height: 25px;
  border-radius: 30px;
  letter-spacing: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  maxwidth: 400;
  width: '50%';
  minwidth: 100;
  bgcolor: 'background.paper';
  border: '2px solid #000';
  borderradius: '8px';
  boxshadow: 24;
  p: 4;
}

.project__technology {
  display: inline-block;
  margin: 5px;
  border: 1px solid #22262a;
  padding: 5px;
  color: rgb(55, 189, 28);
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #22262a;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #97bfd3;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.modal-transition {
  transition: all 0.5s;
}

section {
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}

header {
  background-image: linear-gradient(to top, #434343 0%, black 100%);
}

#projects {
  background-image: linear-gradient(to top, #434343 0%, black 100%);
  z-index: 0;
}

#contact {
  background-image: linear-gradient(to top, #434343 0%, black 100%);
}
.footer {
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}
